html,
body {
  background-image: url("../images/neon.jpg");  /* sets the background image for the entire page */
}
h1,
h2,
h3,
h4,
h5,
p { /*paragrah and headers */
  margin: 0;
  padding: 0;
  color: white;
}
h1 {
     color: #ff00ff;
  text-shadow:
    0 0 5px #ff00ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff;
  font-size: 3.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 20px;
}
h2 {
 color: #00ffff;
  text-shadow:
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 20px #00ffff,
    0 0 40px #00ffff;
  font-size: 3.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 20px;
}
h3 {
 color: #ff0000;
  text-shadow:
    0 0 5px #ff0000,
    0 0 10px #ff0000,
    0 0 20px #ff0000,
    0 0 40px #ff0000;
  font-size: 3.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 20px;
}
h4{
    color: #00ff00;
  text-shadow:
    0 0 5px #00ff00,
    0 0 10px #00ff00,
    0 0 20px #00ff00,
    0 0 40px #00ff00;
  font-size: 3.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 20px;
}
h5{
    font-size: 1.2em;
  color: rgb(255, 255, 255);
}
p {
  margin-bottom: 1em;
}

body { /* */
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 100%;
  margin: 0 auto; /*auto adjust margin according to viewpoint */
  width: 80%;
  padding: 2.5%;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background: rgb(0, 0, 0);
  background-color: black;
  color: white;
}
/*progress bar sizing*/
progress {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 20px;
    border-radius: 10px;
  overflow: hidden;
}

/*progress bar background*/
progress::-webkit-progress-bar {
  background-color: #333;
  border-radius: 10px;
}

/* Filled part */
progress::-webkit-progress-value {
  border-radius: 10px;
}

/*uses id to identify progress bar type and changes color based off type*/
#defense::-webkit-progress-value {
  background-color: blue;
}
#damage::-webkit-progress-value {
  background-color: red;
}

#healing::-webkit-progress-value {
  background-color: green;
}

select { /* style drop down navigator*/
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
}
div { /*black backdrop background*/
  background-color: #222;
  color: rgb(97, 97, 97);
  font-size: 16px;
}
:root {
  color-scheme: dark;
} 
option { /* style options in navigator*/
  background-color: #222;
  color: rgb(255, 255, 255);
  font-size: 16px;
}


picture img {
  width: 100%;
  height: auto;
  max-width: 600px;
  display: block;
  margin: 0 auto 40px auto; /*auto adjust picture according to viewpoint */
}

textarea { /*text area style */
  background-color: #333;
  color: #fff;
  cursor: not-allowed; /*disable editing text box */
}
footer { /*footer specification */
  border-top: 1px solid gray;
  text-align: center;
  font-size: 0.8em;
  line-height: 4em;
  margin-top: 1em;
}


